# URL de base de l'API backend (Laravel) pour la Production
NEXT_PUBLIC_API_URL=https://api.casaimpact.org

# (le port utilisé par `php artisan serve`)
# NEXT_PUBLIC_API_URL=http://localhost:8000

# "api" pour utiliser la vraie API, "mock" pour les données de démonstration
# NEXT_PUBLIC_DATA_SOURCE=api
NEXT_PUBLIC_DATA_SOURCE=api